* {
  font-family: sans-serif;
}

body {
  background: #eee;
}

button {
  height: 40px;
  padding: 0 8px;
}

input[type="text"] {
  width: 98%;
}

table {
  background: #fff;
  border-collapse: collapse;
  margin-bottom: 16px;
}

td {
  height: 20px;
  border: 1px solid #444;
  padding: 4px 8px;
}

tr.center td {
  text-align: center;
}

.weekend {
  background: #faa;
}
